<h1>TEST</h1>

{{> components-comp1("arg1": "Agrument one", "arg2": "My other argument, no paranthesis")}}

{{> components-comp1("arg1": "Agrument one", "arg2": "My other argument, (double quote and paranthesis)")}}

{{> components-comp1("arg1": "Agrument one", "arg2": 'My other argument, (single quote and paranthesis)')}}

{{> components-comp1("arg1": "Agrument one", "arg2": 'My other argument, single quote and Ending paranthesis)')}}

{{> components-comp1("arg1": "Agrument one", "arg2": 'My other argument, single quote and (starting paranthesis')}}
